<div class="container-fluid">
    <div class="pending-homepage row">
        <div class="card col-md-3">
          <div class="card-block">
            This is some text within a card block.
          </div>
        </div>
        
        <div class="card col-md-3">
          <div class="card-block">
            This is some text within a card block.
          </div>
        </div>
        
        <div class="card col-md-3">
          <div class="card-block">
            This is some text within a card block.
          </div>
        </div>
        
        <div class="card col-md-3">
          <div class="card-block">
            This is some text within a card block.
          </div>
        </div>
    </div>
</div>



<div class="pending-homepage">
    <p>dasdads</p>
</div>