<div class="container-fluid">
    <div class="row jumbotron">
        <div class="card col-md-6 column">
            <div class="card-block">
                <p>dadadssa</p>
            </div>
        </div>
        
        <div class="card col-md-6 column">
            <div class="card-block">
                <p>dadadssa</p>
            </div>
        </div>
    </div>
</div>